.register {
    display: flex;
    /* position: relative; */
    min-height: 100vh;
    align-items: center;
    border: 1px solid black;
  }
  @media screen and (max-width:960px) {
    .register{
      flex-direction: column;
    }
  }