.counts {
    width: 800px;
    height: 200px;
    background-image: url(../../img/banner-bg.jpg);
    border-radius: 0 100px 100px 0;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }
  .counts .count h2 {
    font-size: 48px;
    color: white;
  }
  .count h4 {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  @media screen and (max-width: 960px) {
    .counts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }